video {

    object-fit: cover;
  
    width: 100vw;
  
    height: 100vh;
  
    position: fixed;
  
    top: 0;
  
    left: 0;
  
    z-index: -1;
  
  }
  
  .App {
  
      background-color: rgba(255, 255, 255, 0.5);
  
  }
  .container {

    display: flex;
  
    justify-content: center;
  }

  .search {

    width: 100%;
  
          padding: 12px 24px;
  
          background-color: transparent;
  
          font-size: 14px;
  
          line-height: 18px;
  
          color: #575756;
  
          background-color: transparent;
  
          margin-left: 0px;
  
          box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  
  }

  ul {


    list-style: none; 

    padding: 0;
  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    width: 400px;
  
  }
  ul.list{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
  }

  li {
  
    display: block;

    padding: .4em .4em .4em .8em;
  
    margin: .5em 0 .5em 2.5em;
  
    background: #ddd6e8;
  
  }

  .icons {
    width: 32px;
  }

  li:hover{
    background: #DCDDE1;
  }

  h1, h2, ul, p{
    font-family: 'Open Sans', sans-serif;
  }

  button{
    background: #dbecc4;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
  }
  .tasty{
    border-width: 4px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 10px;
    background-color: white;
  


    

 
  }
  .par{
padding: 5px;
  
    background: #ffffff;
  }